:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: light; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #FFF;
  color: #333;
}

img, input, select, button {
  display: block;
  max-width: 100%;
}