:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: light; 
  --primary-text: #161818;
  --brand-blue: #77B9EB;
  --shadow-blue: #5AA8E0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #c5c5c5;
  color: #161818;
}

img, input, select, button {
  display: block;
  max-width: 100%;
}