:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: light; 
  --primary-text: #161818;
  --brand-blue: #77B9EB;
  --shadow-blue: #5AA8E0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #8a5746;
  color: #161818;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  background-image: url('./assets/travel.svg');
  background-repeat: repeat;
  background-size: 40%;
  
  opacity: 0.04;
}

img, input, select, button {
  display: block;
  max-width: 100%;
}